/* Content */

main {

    text-align: center;

    position: relative;

    top: -5vh;

    opacity: 0;

    transform: translateY(10px);

    animation: fadeIn 900ms cubic-bezier(.22,.61,.36,1) forwards;

    animation-delay: 150ms;

}

/* Navigation */

nav {

    display: flex;
    flex-direction: column;
    gap: 1rem;

    margin-top: 1.5rem;

}

nav {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 1.5rem;
}

nav a {
    color: rgba(192,132,252,.75);
    text-decoration: none;
    transition: .2s ease;
    display: block;
}

nav a:hover {
    color: #c084fc;
    text-shadow:
        0 0 3px #c084fc,
        0 0 6px rgba(192,132,252,.4);
}