/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Whole page */
body {
    background-color: #09090b;
    color: #b388ff;
    font-family: Inter, system-ui, sans-serif;

    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

/* Content */
main {
    text-align: center;
}

h1 {
    font-size: 3rem;
    font-weight: 600;
}

p {
    margin-top: 1rem;
    color: #8d6bd6;
}